body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: indianred;
}

.parallax-container {
    height: 450px;
  }

  .bagIsi h6{
      background-color: firebrick;
      height: 30px;
      padding-top: 5px;
      text-align: center;
      color: aliceblue;
  }

  .prestasi h6{
      text-align: center;
  }

.infoAk{
    background-color: bisque;
    height: 610px;
    font-size: 12px;
}

.infoAk a{
    color: black;
}

.infoAk a:hover{
    color:chocolate;
}

.konten1{
    font-size: 12px;
}

.login{
    background-color: bisque;
    height: 310px;
    font-size: 12px;
}

.konten1 .slider{
    margin-top: -6px;
}

.btn1{
    background-color: crimson;
}

.btn1:hover{
    background-color: brown;
}

.log{
    border : 1px solid brown;
    padding : 10px;
    margin-top: -8px;
}

/* .parallax{
    opacity: 2;
    filter: brightness(55%);
} */

.rekap h6{
    background-color: firebrick;
    height: 30px;
    padding-top: 5px;
    text-align: center;
    color: aliceblue;
}

.rekap{
    height: 380px;
    background-color: bisque;
}

.collapsible-header{
    background-color: firebrick;
    color: aliceblue;
}

.prestasi{
    background-color: antiquewhite;
}

.prestasi img{
    width: 80%;
}

.foto{
    padding: 5px 3px;
    width: 100px;
}

.page-footer{
    background-color: firebrick;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-right:20px;
    padding-top: 10px;
}

.baris2{
    padding-bottom: 100px;
}